@font-face {
	font-family: "Manrope Web VF";
	src: url("/errors/fonts/manrope_vf.woff2");
}

body {
	--dominant-color: #000;
	--subdominant-color: #444;
	--descriptive-color: #666;
	--bg-style: rgba(0, 0, 0, 0.6);
}
body.status-blocked {
	--status-color: hsl(0, 70%, 35%);
}
body.status-client {
	--status-color: hsl(120, 60%, 25%);
}
body.status-server {
	--status-color: hsl(240, 70%, 35%);
}

body, .component-middle-box {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	cursor: default;
	margin: 0;
	padding: 0;
	font-family: "Manrope", "Manrope Web VF", sans-serif;
	font-size: 16px;
	font-weight: 500;
}
body {	
	/*background: #000;*/
}
ul, li {
	display: inline-block;
	padding: 0;
	margin: 0;
	text-align: center;
}
ul {
	width: 100%;
}
li {
	display: inline-block;
	padding: 0;
	margin: 0 0.25em;
	list-style: none;
}
code {
	font-family: mono;
	color: var(--debg-color, #000);
}

.component-middle-box {
	display: flex;
	flex-direction: column;
}
.component-middle-box > div.component-middle-box-master {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.component-middle-box > div > div {	
	width: 75%;
	min-width: 256px;
	max-width: 720px;
}
.component-middle-box > div > div > div {
	/*color: #fff;
	outline: 2px rgba(0, 0, 0, 0.3) solid;
	background: rgba(0, 0, 0, 0.6);*/
	padding: 12px;
	border: 0px solid;
	border-radius: 0px;
}

.section-bottom {
	padding: 8px;
	/*color: #fff;
	background: rgba(0, 0, 0, 0.6);*/
}
.imgbtn-topright {
	position: absolute;
	top: 16px;
	right: 16px;
}
.imgbtn-topright > div {
	display: inline-grid;
}

div.custom-detailed-info {
	margin: 0 auto;
	width: max-content;
	max-width: 540px;
	word-wrap: break-word;
	word-break: break-word;
}
div.custom-desc, div.custom-ifsure, div[class^="custom-status-"] {
	text-align: center;
	margin: 0 auto;
	max-width: 100%;
}
div.custom-descr {
	text-align: justify;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: pre-line;
}
div.custom-status-code {
	font-size: 4em;
	font-weight: 100;
	color: var(--text-color, #000);
	transition: color 0.25s;
}
div.custom-status-message {
	font-size: 1.5em;
	font-weight: 400;
	color: var(--debg-color, #000);
}
